body {
    background-image: url("529347433_1973849766798506_5027903213818898122_n.jpg");
    background-size: cover;
    box-shadow: 1px 1px 1px 1px gray;
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards;
}
    body :nth-child(1) { animation-delay: 0.2s; }
    body :nth-child(2) { animation-delay: 0.4s; }
    body :nth-child(3) { animation-delay: 0.6s; }
    body :nth-child(4) { animation-delay: 0.8s; }
    body :nth-child(5) { animation-delay: 1s; }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;

}
h1 {
    font-family: 'Khmer OS Muol Light', sans-serif;
    color: black;
    text-align: center;
}
button {
    background-color: gray;
    font-family: 'Khmer OS Muol Light', sans-serif;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 25px 25px;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color: black;
    cursor: pointer;
}